$primary: #6000de;

@import "~bootstrap/scss/bootstrap";
@import '~react-toastify/dist/ReactToastify.css';
// @import '~video-react/styles/scss/video-react';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #212529;
  // background-color: #ced4da;
  background-color: #f7f5ff;
  font-family: poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

.form-select:focus,
.form-control:focus,
button:focus {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #6000de;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b31ff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #8b31ff;
}

::-webkit-scrollbar-track {
  background: #212529;
  // background: none;
  // background: #ced4da;
  // background: transparent;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #262626;
  // background: transparent;
  // background: #ced4da;
  // background: transparent;  
}
textarea::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
}

textarea::-webkit-scrollbar-thumb {
  background: #7000e3;
  border-radius: 7px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #8b31ff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

textarea::-webkit-scrollbar-thumb:active {
  background-color: #8b31ff;
}

textarea::-webkit-scrollbar-track {
  background: #c2c2c2;
  border-radius: 7px;
}

textarea::-webkit-scrollbar-track:hover,
textarea::-webkit-scrollbar-track:active {
  background: #bababa;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
